#ply{
    position: absolute;
    top: 0;
    left: 0;
    width: 6.25%;
    height: 8.33%;
    background-image: url("../../../assets/player.png");
    background-size: 100% 100%;
    image-rendering: pixelated;
}
